{% extends "base.html" %}
{% load static %}

{% block head %}
    {{  block.super }}
    <script type="module">

import { Swipe } from '{% static 'mopho/swipe.js' %}'

function main() {
    const swiper = new Swipe(document.body);
    swiper.setOnLeft(() => {
        const next_img_obj = document.getElementById('a_nextimg');
        if (next_img_obj != null) {
            next_img_obj.click();
        }
    })
    swiper.setOnRight(() => {
        const prev_img_obj = document.getElementById('a_previmg');
        if (prev_img_obj != null) {
            prev_img_obj.click();
        }
    })
}

window.onload = main

document.onkeydown = function(e) {
    let goto_url = null;
    e = e || window.event;
    switch(e.which || e.keyCode) {
        case 37: // left
            goto_url = document.getElementById("a_previmg");
        break;

        case 39: // right
            goto_url = document.getElementById("a_nextimg");
        break;
        default: return; // exit this handler for other keys
    }
    if(goto_url != null) {
        goto_url.click()
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
};

    </script>
    <style type="text/css">
        {% for thumb_info in thumb_infos %}
            @media screen and {% if thumb_info.minwidth %}(min-width: {{ thumb_info.minwidth }}px){% endif %}
                {% if thumb_info.minwidth and thumb_info.maxwidth %}and{% endif %}
                {%  if thumb_info.maxwidth %}(max-width: {{ thumb_info.maxwidth }}px){% endif %} {
                #photo {
                    content: url("{{ thumb_info.url }}");
                }
            }
        {% endfor %}

    </style>
{% endblock %}

{% block title %}{{ album_name }}: {{ photo_name }}{% endblock %}

{% block content %}
    <div><a href="{{ src_pic_url }}">src</a> -
        {% if prev_pic_url %}<a href="{{ prev_pic_url }}" id="a_previmg">prev</a> - {% endif %}<a href="{{ up_url }}">up</a> -
        {% if next_pic_url %}<a href="{{ next_pic_url }}" id="a_nextimg">next</a>{% endif %}
        {% if raw_url %} - <a href="{{ raw_url }}">raw</a>{% endif %}
        {% if raw_settings_url %} - <a href="{{ raw_settings_url }}">raw-conf</a>{% endif %}
    tags: [{% for tag in tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}]

        <form method="POST" action="" style="text-align:right;">
            {%  csrf_token %}
            {% if is_starred %}
            <input type="image" name="unstar" src="{% static 'mopho/img/star_filled.png' %}" alt="Unstar" />
            {% else %}
            <input type="image" name="star" src="{% static 'mopho/img/star_empty.png' %}" alt="Unstar" />
            {% endif %}
        </form>
    </div>

    <div class="img"><img id="photo" /><!--<img src="{{ photo_url }}"  />--></div>
    <div>
    {% if img_exif_data.make %}Camera: {{  img_exif_data.make }} {{ img_exif_data.model }} - {% endif %}
    {% if img_exif_data.iso %}ISO: {{  img_exif_data.iso }} - {% endif %}
    {% if img_exif_data.f_number %}Aperture: f/{{  img_exif_data.f_number }} - {% endif %}
    {% if img_exif_data.date %}Shutter: {{  img_exif_data.exposure_time }}s - {% endif %}
    {% if img_exif_data.date %}Date: {{  img_exif_data.date | date }}, {{  img_exif_data.date | time:"H:i" }}{% endif %}
    </div>
{% endblock %}