# Python/js boilerplate.
*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
build/
.DS_Store

# django specific ignores.
django_homealbum/core/tests/coverage_html/
django_homealbum/core/tests/.coverage
django_homealbum/core/tests/report/
django_homealbum/homealbum/*_settings.py
db.sqlite3
.idea/

env/
# Static content (from collectstatic) and thumbs are placed in generated/
generated/
# Optionally store photos in albums/ . This is intended for development purposes,
# generally this project should not be considered "the owner" of the albums.
albums/
